<div class="ui relaxed divided list">
  <div class="item">
    <div class="ui fluid icon input">
      <input type="text" placeholder="Search..." ng-model="$ctrl.search.$">
      <i class="search link icon"></i>
    </div>
  </div>
  <div class="item" data-test="book.list" ng-repeat="book in $ctrl.books | filter:$ctrl.search">
    <i class="large book middle aligned icon"></i>
    <div class="content">
      <a class="header" href="#/books/{{book.isbn}}">{{book.title}}</a>
      <div class="description">
        <p>{{book.subtitle}} von {{book.author}}</p>
      </div>
    </div>
  </div>
  <div class="item">
    <a href="#/books/create" class="ui button">Create a new book</a>
  </div>
</div>
