<div class="ui items">
  <div class="item">
    <i class="large book middle aligned icon"></i>
    <div class="content">
      <h2 class="header">{{$ctrl.book.title}}</h2>
      <div class="meta">
        <p>{{$ctrl.book.subtitle}} von {{$ctrl.book.author}}</p>
        <cite>{{$ctrl.book.abstract}}</cite>
      </div>
      <aside class="meta">
        <p>Das Buch hat {{$ctrl.book.numPages}} Seiten und wirde bei <a href="{{$ctrl.book.publisher.url}}">{{$ctrl.book.publisher.name}}</a> veröffentlicht</p>
        <p>ISBN: {{$ctrl.book.isbn}}</p>
        <p><a href="#/books/{{$ctrl.book.isbn}}/edit">Buch bearbeiten</a></p>
      </aside>
    </div>
  </div>
</div>
