<div class="ui pointing menu" data-test="nav">
  <div class="header item">
    BookMonkey
  </div>
  
  <a class="item" data-test="nav.home" ng-class="{active: $ctrl.isActive('^/$')}" href="#/">
    Home
  </a>
  
  <a class="item" data-test="nav.books" ng-class="{active: $ctrl.isActive('^/books')}" href="#/books">
    Books
  </a>
  
  <div class="right menu">
    <a class="item" ng-if="!$ctrl.isLoggedIn()" ng-class="{active: $ctrl.isActive('^/login')}" href="#/login">
      Login
    </a>
    <a class="item" ng-if="$ctrl.isLoggedIn()" ng-class="{active: $ctrl.isActive('^/login')}" ng-click="$ctrl.logout()">
      Logout
    </a>
  </div>
  
</div>
