<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal header">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form class="ui large form"
          ng-class="{error: $ctrl.loginForm.$invalid || $ctrl.error}"
          name="$ctrl.loginForm"
          ng-submit="$ctrl.login($ctrl.email, $ctrl.password)"
          novalidate>
      <div class="ui stacked segment">
        <div class="field" ng-class="{error: !$ctrl.loginForm.email.$pristine && $ctrl.loginForm.email.$invalid}">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="email"
                   name="email"
                   placeholder="E-mail address"
                   data-test="login.email"
                   ng-model="$ctrl.email"
                   required
                   minlength="5">
          </div>
        
          <div class="ui message" ng-if="!$ctrl.loginForm.email.$pristine && $ctrl.loginForm.email.$invalid">
            <div class="header">The field email is invalid</div>
            <ul class="list" ng-messages="$ctrl.loginForm.email.$error">
              <li ng-message="email">Please enter a valid email address</li>
              <li ng-message="required">To log you in it's required to enter a email address</li>
              <li ng-message="minlength">Enter at least five characters</li>
            </ul>
          </div>
        </div>
        <div class="field" ng-class="{error: !$ctrl.loginForm.password.$pristine && $ctrl.loginForm.password.$invalid}">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password"
                   name="password"
                   placeholder="Password"
                   data-test="login.password"
                   ng-model="$ctrl.password"
                   required>
          </div>
          <div class="ui message" ng-if="!$ctrl.loginForm.password.$pristine && $ctrl.loginForm.password.$invalid">
            <div class="header">The field password is invalid</div>
            <ul class="list" ng-messages="$ctrl.loginForm.password.$error">
              <li ng-message="required">To log you in it's required to enter a password address</li>
            </ul>
          </div>
        </div>
        
        <div ng-if="$ctrl.error" class="ui error message">
          <div class="header">Not siggend in</div>
          <p>{{$ctrl.error}}</p>
        </div>
        
        
        <button class="ui fluid large teal submit button" data-test="login.submit"
                ng-disabled="$ctrl.loginForm.$invalid">Login</button>

        <p>
          The login checks the following rule:<br>
          <code>email.split('@')[0] === password</code><br>
          So, while <i>john@doe.com</i> is the email, <i>john</i> is the password
        </p>
        
      </div>

    </form>

    <div class="ui message">
      New to us? <a href="#">Sign Up</a>
    </div>
  </div>
</div>
